.mainContainer {
  margin-top: 2rem;
  min-height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileWrapper {
  padding: 2rem;
  border-radius: 12px;
}

.topRow {
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.profileImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo h4 {
  margin: 0;
  font-weight: 600;
}

.userInfo p {
  margin: 0;
  color: gray;
  font-size: 0.9rem;
}

.statsRow {
  margin-top: 1.5rem;
  text-align: left;
}

.statTitle {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.statsRow h3 {
  font-weight: 600;
}
