.mainContainer{
    height: 75vh;
    margin-top: 2rem;
}

.budgetTable {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  overflow-x: auto;
  margin-top: 20px;
  box-shadow: 0 0 0 1px #eee;
  text-align: left;
}

.budgetTable table {
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.budgetTable thead {
  background-color: #f6f7fb;
}

.budgetTable th {
  padding: 14px 16px;
  font-weight: 600;
  color: #555;
}

.budgetTable td {
  padding: 14px 16px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  vertical-align: middle;
  width: 100px;
}

.budgetTable .progress {
  background-color: #eee;
  border-radius: 10px;
}

.budgetTable button {
  font-size: 13px;
}
.actions{
  display: flex;
  text-align: left;
  flex-direction: row;
  gap: 1rem;
}
.actionBtn{
  color: grey;
}
.actionBtn :hover{
  color:#333;
  cursor: pointer;
}