.tableDesign {
  width: 100%;
  overflow-x: auto;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #eee;
  margin-bottom: 2rem;
}

.tableDesign table {
  margin-bottom: 0;
  border-spacing: 0;
  text-align: left;
}

.tableDesign thead {
  background-color: #9a9999;
}

.tableDesign th {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.tableDesign td {
  font-size: 14px;
  color: #333;
  padding: 14px;
  border-bottom: 1px solid #f0f0f0;
  min-width: 100px;
}

.amount {
  font-weight: 600;
}

.tag {
  background-color: #b5daf5;
  color: #234C6A;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.actions {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.actionBtn {
  cursor: pointer;
  font-size: 16px;
  color: #888;
}

.actionBtn:hover {
  color: #000;
}
